<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Contact</h1>
</ion-toolbar>

<div class="header-bg"></div>

<ion-content color="tertiary">
  <div class="about-us">


    <app-contact-section 
      link="https://www.google.com/maps/place/Asematie+7,+44800+Pihtipudas/@63.3702858,25.573559,17z/data=!3m1!4b1!4m5!3m4!1s0x46841ad4910fe84d:0xea083ea85069a30a!8m2!3d63.3702858!4d25.5757477"
      spanText="Location"
      pText="Asematie 7 44800 Pihtipudas"
      image="location.png">
    </app-contact-section>


    <app-contact-section 
      link="tel: 014 561 165"
      spanText="Phone"
      pText="(014) 561 165"
      image="phone.png">
    </app-contact-section>

    <app-contact-section 
      link="mailto: info@kukka-pibea.fi"
      spanText="Email"
      pText="info@kukka-pibea.fi"
      image="mail.png">
    </app-contact-section>

    <div class="socialMedia">
      <h2>Social Media</h2>
      <div class="socialMedia__container">
        <a href="https://www.facebook.com/Kukka-Pibea-526172454247472/">
          <img  src="../../../assets/images/facebook.png" />
        </a>
        <a href="https://fi.pinterest.com/auli60mikkonen/kukka-asetelmat/">
          <img  src="../../../assets/images/pinterest.png" />
        </a>
        <a href="">
          <img  src="../../../assets/images/instagram.png" />
        </a>
      </div>


    </div>






  </div>
</ion-content>
