<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Privancy policy</h1>
</ion-toolbar>

<div class="header-bg"></div>

<ion-content color="tertiary">
  <ion-text color="secondary">
    <p>Last updated: April 01, 2022</p>

    <p>
      This Privacy Policy describes Our policies and procedures on the
      collection, use and disclosure of Your information when You use the
      Service and tells You about Your privacy rights and how the law protects
      You.
    </p>

    <p>
      We use Your Personal data to provide and improve the Service. By using the
      Service, You agree to the collection and use of information in accordance
      with this Privacy Policy. This Privacy Policy has been created with the
      help of the Privacy Policy Template.
    </p>

    <p>Interpretation and Definitions Interpretation</p>
    <p>
      The words of which the initial letter is capitalized have meanings defined
      under the following conditions. The following definitions shall have the
      same meaning regardless of whether they appear in singular or in plural.
    </p>

    <p>Definitions For the purposes of this Privacy Policy:</p>

    <p>
      Account means a unique account created for You to access our Service or
      parts of our Service.
    </p>

    <p>
      Affiliate means an entity that controls, is controlled by or is under
      common control with a party, where "control" means ownership of 50% or
      more of the shares, equity interest or other securities entitled to vote
      for election of directors or other managing authority.
    </p>

    <p>
      Application means the software program provided by the Company downloaded
      by You on any electronic device, named kukka-pibea
    </p>

    <p>
      Company (referred to as either "the Company", "We", "Us" or "Our" in this
      Agreement) refers to kukka-pibea.
    </p>

    <p>Country refers to: Finland</p>

    <p>
      Device means any device that can access the Service such as a computer, a
      cellphone or a digital tablet.
    </p>

    <p>
      Personal Data is any information that relates to an identified or
      identifiable individual.
    </p>

    <p>Service refers to the Application.</p>

    <p>
      Service Provider means any natural or legal person who processes the data
      on behalf of the Company. It refers to third-party companies or
      individuals employed by the Company to facilitate the Service, to provide
      the Service on behalf of the Company, to perform services related to the
      Service or to assist the Company in analyzing how the Service is used.
    </p>
  </ion-text>
</ion-content>
