<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Candles</h1>
</ion-toolbar>

<div class="header-bg"></div>

<ion-content color="tertiary">
  <div class="about-us">
    <ion-text color="secondary">
      <p>
        It Takes a Community To Make a Candle</p>

        <p>How do you capture the spirit of a memory in a way that feels personal and recognizable to everyone? </p>

        <p>That’s the question we ask ourselves every day. Luckily, we’re not the only ones with the answers! We speak to anywhere from 30 to 100 people for every candle we develop, visiting local areas, collecting samples, and even extracting scents from food. We’ve discussed childhood memories with local Texans, why books smell so great with veteran librarians, the flora of Central Park with New York horticulturalists, and the finer points of donuts with Dunkin’ superfans. And that's just the start of our process.</p>

          <p>We then try hundreds of different scent combinations, checking back in with the community along the way until we’ve found the perfect balance; an authentic fragrance that will also smell great in your home.</p>

      <img src="../../../assets/images/candels.jpg">
    </ion-text>
  </div>

</ion-content>
