<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>About us</h1>
</ion-toolbar>

<div class="header-bg"></div>

<ion-content color="tertiary">
  <div class="about-us">
    <ion-text color="secondary">
      <p>
        We operate in Pihtiputaa in the same premises as Mononen's funeral
        service.
      </p>

      <p>
        Our job description includes binding work, the sale of cut flowers and
        the sale of cosmetics and gifts.
      </p>

      <p>
        We also handle teleflora and interflora flower brokerages around the
        world
      </p>

      <p>We are a member of the Finnish Florists' Association.</p>
    </ion-text>
  </div>
</ion-content>
