<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Flowers</h1>
</ion-toolbar>

<div class="header-bg"></div>

<ion-content color="tertiary">
  <div class="about-us">
    <ion-text color="secondary">
      <p>
        We operate in Pihtiputaa in the same premises as Mononen's funeral
        service.
      </p>

      <p>
        We operate in Pihtiputaa in the same premises as Mononen's funeral
        service.
      </p>

      <p>
        We operate in Pihtiputaa in the same premises as Mononen's funeral
        service.
      </p>
    </ion-text>
  </div>
  
</ion-content>


