<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Funeral</h1>
</ion-toolbar>

<div class="header-bg"></div>

<ion-content color="tertiary">
  <div class="about-us">
    <ion-text color="secondary">
      <p>
        Honor the life of a loved one by sending a beautiful funeral flower arrangement. All of the funeral flowers are hand-arranged by a local florist partner near you. We offer a variety of funeral floral arrangements including funeral bouquets, funeral floral stands and funeral flower wreaths. There are a collection of cheap funeral flowers all the way to luxury flowers for a funeral. Each bouquet is delivered with a card, to send your message of love. </p>

      <img src="../../../assets/images/funeral.jpg">
    </ion-text>
  </div>

</ion-content>
