<ion-content>
  <div class="login">
    <h1>Login</h1>

    <form class="form">
      <ion-list lines="none">
        <ion-item>
          <ion-label color="secondary" position="stacked">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="secondary" position="stacked">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-list>
      <a routerLink="/homepage">
        <ion-button color="primary" expand="block">Login</ion-button>
      </a>
    </form>
  </div>
</ion-content>
