<ion-content>
  <div class="login">
    <h1>Register</h1>

    <form class="form">
      <ion-list lines="none">
        <ion-item>
          <ion-label color="secondary" position="stacked">Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="secondary" position="stacked">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="secondary" position="stacked">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="secondary" position="stacked">Confirm Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button color="primary" expand="block">Register</ion-button>
    </form>
  </div>
</ion-content>

