<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Dear Client Name,</h1>
    <p> Thank you for choosing us!</p>
</ion-toolbar>

<div class="header-bg"></div>

<ion-content color="tertiary">
  <div class="about-us">
    <ion-text color="secondary">
      <p>
        In this section you will be able in the future to change your settings, to see your past orders and future events. You will also be able to set your notification preferences and see our privancy policy.
      </p>
    </ion-text>
  </div>
</ion-content>
