.about-us {
  height: 100%;
  background-color: var(--dirtyWhite);
  background-image: url("../../../assets/images/about-us.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}
