ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-fab-button {
  height: 70px;
  width: 70px;
}

.cart-icon {
  font-size: 50px;
}

.cart-length {
  color: #fcbacd;
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

ion-list {
  height: 100%;
  background-image: url('http://www.mirunaandriesei.ro/floral-app/menu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}