<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Kukka Pibea</h1>
</ion-toolbar>

<ion-content fullscreen color="tertiary" class="ion-padding" scroll-y="false">

  <div class="categoriesBtn" color="primary">

    <a routerLink="/flowers">
      <app-category-button
      spanText="Flowers"
      image="flower2.png">
      </app-category-button>
    </a>

    <a routerLink="/cards">
    <app-category-button
      spanText="Cards"
      image="cards.png"
    ></app-category-button>
    </a>

    <a routerLink="/candles">
    <app-category-button
      spanText="Candles"
      image="candles.png"
    ></app-category-button>
    </a>

    <a routerLink="/funeral">
    <app-category-button
      spanText="Funeral"
      image="death-and-funeral.png"
    ></app-category-button>
    </a>
  </div>




    <ion-slides>
      <ion-slide *ngFor="let p of products">
        <div class="slide">
          <img src="../../assets/products/{{p.picture}}" />
          <div class="productText">
            <h2>{{ p.name }}</h2>
            <p>{{ p.price | currency: 'EUR' }}</p>
          </div>
          <div class="productAdd">
            <button ion-button (click)="addToCart(p)">+</button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openCart()" #cart>
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <a routerLink="/about-us">
      <ion-card color="transparent">
        <ion-card-header>
          <h1>About us</h1>
        </ion-card-header>
        <ion-card-content color="secondary">
          We operate in Pihtiputaa in the same premises as Mononen's funeral service.
          Our job description includes binding work
          the sale of ...
        </ion-card-content>
      </ion-card>
    </a>

</ion-content>
